In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import plotly.express as px
from scipy import stats
import datetime
from functools import reduce

In [2]:
df = pd.read_csv("https://github.com/5htplife/firstproject/raw/master/Food_Supply_kcal_Data.csv")

In [8]:
df.count()

Country                         170
Alcoholic Beverages             170
Animal Products                 170
Animal fats                     170
Aquatic Products, Other         170
Cereals - Excluding Beer        170
Eggs                            170
Fish, Seafood                   170
Fruits - Excluding Wine         170
Meat                            170
Milk - Excluding Butter         170
Miscellaneous                   170
Offals                          170
Oilcrops                        170
Pulses                          170
Spices                          170
Starchy Roots                   170
Stimulants                      170
Sugar Crops                     170
Sugar & Sweeteners              170
Treenuts                        170
Vegetal Products                170
Vegetable Oils                  170
Vegetables                      170
Obesity                         167
Undernourished                  163
Confirmed                       164
Deaths                          164
Recovered                       164
Active                          162
Population                      170
Unit (all except Population)    170
dtype: int64

In [13]:
df['Confirmed'] = df['Confirmed'].astype(float)

In [21]:
confirmed = df[['Country', 'Confirmed']]

In [25]:
confirmed.sort_values(by = 'Confirmed', ascending = False)[:10]

                      Country  Confirmed
102                Montenegro  10.408199
38                    Czechia   9.612841
138                  Slovenia   8.235901
161  United States of America   8.159922
91                 Luxembourg   8.150633
118                    Panama   7.622321
73                     Israel   7.439052
123                  Portugal   7.429605
55                    Georgia   7.042261
90                  Lithuania   6.667072

In [36]:
mortality = pd.read_csv("https://github.com/akarlinsky/world_mortality/raw/main/world_mortality.csv")

In [37]:
mortality

      iso3c country_name  year  time time_unit   deaths
0       ALB      Albania  2015     1   monthly   2490.0
1       ALB      Albania  2015     2   monthly   2139.0
2       ALB      Albania  2015     3   monthly   2051.0
3       ALB      Albania  2015     4   monthly   1906.0
4       ALB      Albania  2015     5   monthly   1709.0
...     ...          ...   ...   ...       ...      ...
27243   UZB   Uzbekistan  2022     8   monthly  18771.0
27244   UZB   Uzbekistan  2022     9   monthly  13351.0
27245   UZB   Uzbekistan  2022    10   monthly  13602.0
27246   UZB   Uzbekistan  2022    11   monthly  12850.0
27247   UZB   Uzbekistan  2022    12   monthly  15395.0

[27248 rows x 6 columns]

In [38]:
df

,Country,Alcoholic Beverages,Animal Products,Animal fats,"Aquatic Products, Other",Cereals - Excluding Beer,Eggs,"Fish, Seafood",Fruits - Excluding Wine,Meat,...,Vegetable Oils,Vegetables,Obesity,Undernourished,Confirmed,Deaths,Recovered,Active,Population,Unit (all except Population)
0,Afghanistan,0.0000,4.7774,0.8504,0.0,37.1186,0.1501,0.0000,1.4757,1.2006,...,2.3012,0.7504,4.5,29.8,0.142134,0.006186,0.123374,0.012574,38928000.0,%
1,Albania,0.9120,16.0930,1.0591,0.0,16.2107,0.8091,0.1471,3.8982,3.8688,...,2.8244,2.7508,22.3,6.2,2.967301,0.050951,1.792636,1.123714,2838000.0,%
2,Algeria,0.0896,6.0326,0.1941,0.0,25.0112,0.4181,0.1195,3.1805,1.2543,...,5.7638,2.0457,26.6,3.9,0.244897,0.006558,0.167572,0.070767,44357000.0,%
3,Angola,1.9388,4.6927,0.2644,0.0,18.3521,0.0441,0.8372,2.3133,2.9302,...,4.2741,0.3525,6.8,25,0.061687,0.001461,0.056808,0.003419,32522000.0,%
4,Antigua and Barbuda,2.3041,15.3672,1.5429,0.0,13.7215,0.2057,1.7280,3.6824,7.0356,...,4.6904,1.2960,19.1,NaN,0.293878,0.007143,0.190816,0.095918,98000.0,%
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Venezuela (Bolivarian Republic of),0.8454,7.2303,0.6007,0.0,21.3126,0.2892,0.4449,2.3804,3.1368,...,7.5417,0.6674,25.2,21.2,0.452585,0.004287,0.424399,0.023899,28645000.0,%
166,Vietnam,0.7150,10.9806,0.9363,0.0,26.9833,0.2894,1.0385,1.8046,7.8311,...,1.3279,1.9578,2.1,9.3,0.002063,0.000036,0.001526,0.000501,96209000.0,%
167,Yemen,0.0000,3.4667,0.3394,0.0,32.0727,0.1455,0.1697,1.1879,2.0121,...,3.9515,0.3636,14.1,38.9,0.007131,0.002062,0.004788,0.000282,29826000.0,%
168,Zambia,1.1925,3.3043,0.3230,0.0,31.5528,0.1988,0.5714,0.2236,1.5155,...,3.0062,0.4472,6.5,46.7,0.334133,0.004564,0.290524,0.039045,18384000.0,%
169,Zimbabwe,1.4269,3.9356,0.6904,0.0,29.8044,0.1381,0.1611,0.4373,1.7491,...,6.2601,0.2532,12.3,51.3,0.232033,0.008854,0.190964,0.032214,14863000.0,%

In [30]:
new_file = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v30_cnty.csv")

In [31]:
new_file = new_file[new_file['year'] == 2018]

In [32]:
new_file

,superregion2,iso3,age,female,urban,edu,year,varnum,v30_type,v30_type_desc,median,upperci_95,lowerci_95
4968,SAARC,AFG,0.5,0,0,1,2018,30,2,2: Macronutrients,0.308242,8.513506,0.010370
4969,SAARC,AFG,0.5,0,0,2,2018,30,2,2: Macronutrients,0.370872,9.860263,0.012419
4970,SAARC,AFG,0.5,0,0,3,2018,30,2,2: Macronutrients,0.286250,8.543199,0.009753
4971,SAARC,AFG,0.5,0,0,999,2018,30,2,2: Macronutrients,0.384458,7.978586,0.022046
4972,SAARC,AFG,0.5,0,1,1,2018,30,2,2: Macronutrients,0.388597,13.585614,0.011220
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1072255,SSA,ZWE,999.0,999,1,999,2018,30,2,2: Macronutrients,67.885214,358.370349,11.812580
1072256,SSA,ZWE,999.0,999,999,1,2018,30,2,2: Macronutrients,61.906238,297.239253,14.828536
1072257,SSA,ZWE,999.0,999,999,2,2018,30,2,2: Macronutrients,56.784986,207.358198,18.316940
1072258,SSA,ZWE,999.0,999,999,3,2018,30,2,2: Macronutrients,45.128526,299.857098,6.823782
1072259,SSA,ZWE,999.0,999,999,999,2018,30,2,2: Macronutrients,62.809518,219.324527,21.891011

In [33]:
path = r"/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/"
files = glob.glob(path + "*.csv")

data = pd.DataFrame()
content = []

for filename in files:
    df = pd.read_csv(filename, index_col=None, header=0)
    df = df[df['year'] == 2018]
    df = df.loc[(df['age'] == 999) & (df['female'] == 999)]
    df = df.drop(columns = ['upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95'], errors='ignore')
    content.append(df)

In [34]:
content

[        superregion2 iso3    age  female  urban  edu  year  varnum  v05_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018       5         1
 5785           SAARC  AFG  999.0     999      0    2  2018       5         1
 5786           SAARC  AFG  999.0     999      0    3  2018       5         1
 5787           SAARC  AFG  999.0     999      0  999  2018       5         1
 5788           SAARC  AFG  999.0     999      1    1  2018       5         1
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018       5         1
 1072256          SSA  ZWE  999.0     999    999    1  2018       5         1
 1072257          SSA  ZWE  999.0     999    999    2  2018       5         1
 1072258          SSA  ZWE  999.0     999    999    3  2018       5         1
 1072259          SSA  ZWE  999.0     999    999  999  2018       5         1

                 v05_type_desc      median
 5784     1: Foods & Beverages   98.854101
 5785     1: Foods & Beverages  116.828206
 5786     1: Foods & Beverages  139.657397
 5787     1: Foods & Beverages  102.984781
 5788     1: Foods & Beverages   99.032625
 ...                       ...         ...
 1072255  1: Foods & Beverages   19.649825
 1072256  1: Foods & Beverages   16.023400
 1072257  1: Foods & Beverages   18.813260
 1072258  1: Foods & Beverages   24.092966
 1072259  1: Foods & Beverages   18.917248

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v04_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018       4         1
 5785           SAARC  AFG  999.0     999      0    2  2018       4         1
 5786           SAARC  AFG  999.0     999      0    3  2018       4         1
 5787           SAARC  AFG  999.0     999      0  999  2018       4         1
 5788           SAARC  AFG  999.0     999      1    1  2018       4         1
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018       4         1
 1072256          SSA  ZWE  999.0     999    999    1  2018       4         1
 1072257          SSA  ZWE  999.0     999    999    2  2018       4         1
 1072258          SSA  ZWE  999.0     999    999    3  2018       4         1
 1072259          SSA  ZWE  999.0     999    999  999  2018       4         1

                 v04_type_desc     median
 5784     1: Foods & Beverages  40.010560
 5785     1: Foods & Beverages  47.371936
 5786     1: Foods & Beverages  60.185413
 5787     1: Foods & Beverages  42.305827
 5788     1: Foods & Beverages  48.377537
 ...                       ...        ...
 1072255  1: Foods & Beverages  35.223207
 1072256  1: Foods & Beverages  27.481140
 1072257  1: Foods & Beverages  32.567803
 1072258  1: Foods & Beverages  43.623002
 1072259  1: Foods & Beverages  33.138091

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v46_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      46         3
 5785           SAARC  AFG  999.0     999      0    2  2018      46         3
 5786           SAARC  AFG  999.0     999      0    3  2018      46         3
 5787           SAARC  AFG  999.0     999      0  999  2018      46         3
 5788           SAARC  AFG  999.0     999      1    1  2018      46         3
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      46         3
 1072256          SSA  ZWE  999.0     999    999    1  2018      46         3
 1072257          SSA  ZWE  999.0     999    999    2  2018      46         3
 1072258          SSA  ZWE  999.0     999    999    3  2018      46         3
 1072259          SSA  ZWE  999.0     999    999  999  2018      46         3

              v46_type_desc    median
 5784     3: Micronutrients  0.987697
 5785     3: Micronutrients  1.044655
 5786     3: Micronutrients  1.085858
 5787     3: Micronutrients  0.998003
 5788     3: Micronutrients  0.822773
 ...                    ...       ...
 1072255  3: Micronutrients  1.089616
 1072256  3: Micronutrients  1.098965
 1072257  3: Micronutrients  0.923139
 1072258  3: Micronutrients  0.962904
 1072259  3: Micronutrients  1.008239

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v47_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      47         3
 5785           SAARC  AFG  999.0     999      0    2  2018      47         3
 5786           SAARC  AFG  999.0     999      0    3  2018      47         3
 5787           SAARC  AFG  999.0     999      0  999  2018      47         3
 5788           SAARC  AFG  999.0     999      1    1  2018      47         3
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      47         3
 1072256          SSA  ZWE  999.0     999    999    1  2018      47         3
 1072257          SSA  ZWE  999.0     999    999    2  2018      47         3
 1072258          SSA  ZWE  999.0     999    999    3  2018      47         3
 1072259          SSA  ZWE  999.0     999    999  999  2018      47         3

              v47_type_desc     median
 5784     3: Micronutrients  13.265720
 5785     3: Micronutrients  13.424083
 5786     3: Micronutrients  13.832364
 5787     3: Micronutrients  13.336045
 5788     3: Micronutrients  13.867851
 ...                    ...        ...
 1072255  3: Micronutrients  16.305069
 1072256  3: Micronutrients  15.493286
 1072257  3: Micronutrients  15.928116
 1072258  3: Micronutrients  16.193286
 1072259  3: Micronutrients  15.817289

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v31_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      31         2
 5785           SAARC  AFG  999.0     999      0    2  2018      31         2
 5786           SAARC  AFG  999.0     999      0    3  2018      31         2
 5787           SAARC  AFG  999.0     999      0  999  2018      31         2
 5788           SAARC  AFG  999.0     999      1    1  2018      31         2
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      31         2
 1072256          SSA  ZWE  999.0     999    999    1  2018      31         2
 1072257          SSA  ZWE  999.0     999    999    2  2018      31         2
 1072258          SSA  ZWE  999.0     999    999    3  2018      31         2
 1072259          SSA  ZWE  999.0     999    999  999  2018      31         2

              v31_type_desc       median
 5784     2: Macronutrients   927.690819
 5785     2: Macronutrients   966.730454
 5786     2: Macronutrients   941.337156
 5787     2: Macronutrients   934.610848
 5788     2: Macronutrients   903.209648
 ...                    ...          ...
 1072255  2: Macronutrients  1180.524944
 1072256  2: Macronutrients  1112.984701
 1072257  2: Macronutrients  1255.928350
 1072258  2: Macronutrients  1217.653531
 1072259  2: Macronutrients  1193.127233

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v30_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      30         2
 5785           SAARC  AFG  999.0     999      0    2  2018      30         2
 5786           SAARC  AFG  999.0     999      0    3  2018      30         2
 5787           SAARC  AFG  999.0     999      0  999  2018      30         2
 5788           SAARC  AFG  999.0     999      1    1  2018      30         2
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      30         2
 1072256          SSA  ZWE  999.0     999    999    1  2018      30         2
 1072257          SSA  ZWE  999.0     999    999    2  2018      30         2
 1072258          SSA  ZWE  999.0     999    999    3  2018      30         2
 1072259          SSA  ZWE  999.0     999    999  999  2018      30         2

              v30_type_desc     median
 5784     2: Macronutrients   2.084607
 5785     2: Macronutrients   2.481900
 5786     2: Macronutrients   2.003092
 5787     2: Macronutrients   2.170499
 5788     2: Macronutrients   2.724240
 ...                    ...        ...
 1072255  2: Macronutrients  67.885214
 1072256  2: Macronutrients  61.906238
 1072257  2: Macronutrients  56.784986
 1072258  2: Macronutrients  45.128526
 1072259  2: Macronutrients  62.809518

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v12_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      12         1
 5785           SAARC  AFG  999.0     999      0    2  2018      12         1
 5786           SAARC  AFG  999.0     999      0    3  2018      12         1
 5787           SAARC  AFG  999.0     999      0  999  2018      12         1
 5788           SAARC  AFG  999.0     999      1    1  2018      12         1
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      12         1
 1072256          SSA  ZWE  999.0     999    999    1  2018      12         1
 1072257          SSA  ZWE  999.0     999    999    2  2018      12         1
 1072258          SSA  ZWE  999.0     999    999    3  2018      12         1
 1072259          SSA  ZWE  999.0     999    999  999  2018      12         1

                 v12_type_desc     median
 5784     1: Foods & Beverages   6.380694
 5785     1: Foods & Beverages  10.102176
 5786     1: Foods & Beverages  11.960717
 5787     1: Foods & Beverages   7.007099
 5788     1: Foods & Beverages  10.459662
 ...                       ...        ...
 1072255  1: Foods & Beverages  14.984309
 1072256  1: Foods & Beverages   6.154752
 1072257  1: Foods & Beverages  10.412420
 1072258  1: Foods & Beverages  19.965819
 1072259  1: Foods & Beverages  10.948038

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v13_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      13         1
 5785           SAARC  AFG  999.0     999      0    2  2018      13         1
 5786           SAARC  AFG  999.0     999      0    3  2018      13         1
 5787           SAARC  AFG  999.0     999      0  999  2018      13         1
 5788           SAARC  AFG  999.0     999      1    1  2018      13         1
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      13         1
 1072256          SSA  ZWE  999.0     999    999    1  2018      13         1
 1072257          SSA  ZWE  999.0     999    999    2  2018      13         1
 1072258          SSA  ZWE  999.0     999    999    3  2018      13         1
 1072259          SSA  ZWE  999.0     999    999  999  2018      13         1

                 v13_type_desc    median
 5784     1: Foods & Beverages  0.490913
 5785     1: Foods & Beverages  0.604059
 5786     1: Foods & Beverages  0.742535
 5787     1: Foods & Beverages  0.520210
 5788     1: Foods & Beverages  0.707825
 ...                       ...       ...
 1072255  1: Foods & Beverages  0.788872
 1072256  1: Foods & Beverages  0.447270
 1072257  1: Foods & Beverages  0.597536
 1072258  1: Foods & Beverages  1.130770
 1072259  1: Foods & Beverages  0.663264

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v18_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      18         1
 5785           SAARC  AFG  999.0     999      0    2  2018      18         1
 5786           SAARC  AFG  999.0     999      0    3  2018      18         1
 5787           SAARC  AFG  999.0     999      0  999  2018      18         1
 5788           SAARC  AFG  999.0     999      1    1  2018      18         1
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      18         1
 1072256          SSA  ZWE  999.0     999    999    1  2018      18         1
 1072257          SSA  ZWE  999.0     999    999    2  2018      18         1
 1072258          SSA  ZWE  999.0     999    999    3  2018      18         1
 1072259          SSA  ZWE  999.0     999    999  999  2018      18         1

                 v18_type_desc    median
 5784     1: Foods & Beverages  1.706572
 5785     1: Foods & Beverages  1.792550
 5786     1: Foods & Beverages  1.794260
 5787     1: Foods & Beverages  1.721162
 5788     1: Foods & Beverages  1.713971
 ...                       ...       ...
 1072255  1: Foods & Beverages  0.486467
 1072256  1: Foods & Beverages  0.459998
 1072257  1: Foods & Beverages  0.474680
 1072258  1: Foods & Beverages  0.490285
 1072259  1: Foods & Beverages  0.472328

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v51_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      51         3
 5785           SAARC  AFG  999.0     999      0    2  2018      51         3
 5786           SAARC  AFG  999.0     999      0    3  2018      51         3
 5787           SAARC  AFG  999.0     999      0  999  2018      51         3
 5788           SAARC  AFG  999.0     999      1    1  2018      51         3
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      51         3
 1072256          SSA  ZWE  999.0     999    999    1  2018      51         3
 1072257          SSA  ZWE  999.0     999    999    2  2018      51         3
 1072258          SSA  ZWE  999.0     999    999    3  2018      51         3
 1072259          SSA  ZWE  999.0     999    999  999  2018      51         3

              v51_type_desc     median
 5784     3: Micronutrients  41.635593
 5785     3: Micronutrients  44.392819
 5786     3: Micronutrients  47.491460
 5787     3: Micronutrients  42.275425
 5788     3: Micronutrients  41.100200
 ...                    ...        ...
 1072255  3: Micronutrients  84.212003
 1072256  3: Micronutrients  96.411845
 1072257  3: Micronutrients  94.571968
 1072258  3: Micronutrients  99.694917
 1072259  3: Micronutrients  96.711187

 [2220 rows x 11 columns],
        superregion2 iso3    age  female  urban  edu  year  v50_type  \
 35526         SAARC  AFG  999.0     999      0  999  2018         3
 35534         SAARC  AFG  999.0     999      1  999  2018         3
 35542           SSA  AGO  999.0     999      0  999  2018         3
 35550           SSA  AGO  999.0     999      1  999  2018         3
 35558           FSU  ALB  999.0     999      0  999  2018         3
 ...             ...  ...    ...     ...    ...  ...   ...       ...
 834686         Asia  WSM  999.0     999    999  999  2018         3
 834694         MENA  YEM  999.0     999    999  999  2018         3
 834702          SSA  ZAF  999.0     999    999  999  2018         3
 834710          SSA  ZMB  999.0     999    999  999  2018         3
 834718          SSA  ZWE  999.0     999    999  999  2018         3

             v50_type_desc    median
 35526   3: Micronutrients  1.646566
 35534   3: Micronutrients  2.218725
 35542   3: Micronutrients  2.002792
 35550   3: Micronutrients  2.604358
 35558   3: Micronutrients  3.598900
 ...                   ...       ...
 834686  3: Micronutrients  3.525843
 834694  3: Micronutrients  3.005812
 834702  3: Micronutrients  3.046717
 834710  3: Micronutrients  2.242698
 834718  3: Micronutrients  2.235057

 [2220 rows x 10 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v27_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      27         2
 5785           SAARC  AFG  999.0     999      0    2  2018      27         2
 5786           SAARC  AFG  999.0     999      0    3  2018      27         2
 5787           SAARC  AFG  999.0     999      0  999  2018      27         2
 5788           SAARC  AFG  999.0     999      1    1  2018      27         2
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      27         2
 1072256          SSA  ZWE  999.0     999    999    1  2018      27         2
 1072257          SSA  ZWE  999.0     999    999    2  2018      27         2
 1072258          SSA  ZWE  999.0     999    999    3  2018      27         2
 1072259          SSA  ZWE  999.0     999    999  999  2018      27         2

              v27_type_desc    median
 5784     2: Macronutrients  6.710554
 5785     2: Macronutrients  7.398685
 5786     2: Macronutrients  7.747151
 5787     2: Macronutrients  6.813894
 5788     2: Macronutrients  9.103577
 ...                    ...       ...
 1072255  2: Macronutrients  9.102183
 1072256  2: Macronutrients  8.544136
 1072257  2: Macronutrients  8.585924
 1072258  2: Macronutrients  8.588279
 1072259  2: Macronutrients  8.582059

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v15_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      15         1
 5785           SAARC  AFG  999.0     999      0    2  2018      15         1
 5786           SAARC  AFG  999.0     999      0    3  2018      15         1
 5787           SAARC  AFG  999.0     999      0  999  2018      15         1
 5788           SAARC  AFG  999.0     999      1    1  2018      15         1
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      15         1
 1072256          SSA  ZWE  999.0     999    999    1  2018      15         1
 1072257          SSA  ZWE  999.0     999    999    2  2018      15         1
 1072258          SSA  ZWE  999.0     999    999    3  2018      15         1
 1072259          SSA  ZWE  999.0     999    999  999  2018      15         1

                 v15_type_desc      median
 5784     1: Foods & Beverages   39.643554
 5785     1: Foods & Beverages   73.356575
 5786     1: Foods & Beverages   99.209982
 5787     1: Foods & Beverages   46.415359
 5788     1: Foods & Beverages  184.645865
 ...                       ...         ...
 1072255  1: Foods & Beverages  402.985351
 1072256  1: Foods & Beverages  214.991027
 1072257  1: Foods & Beverages  356.682469
 1072258  1: Foods & Beverages  394.681642
 1072259  1: Foods & Beverages  308.408416

 [2220 rows x 11 columns],
         superregion2 iso3    age  female  urban  edu  year  varnum  v14_type  \
 5784           SAARC  AFG  999.0     999      0    1  2018      14         1
 5785           SAARC  AFG  999.0     999      0    2  2018      14         1
 5786           SAARC  AFG  999.0     999      0    3  2018      14         1
 5787           SAARC  AFG  999.0     999      0  999  2018      14         1
 5788           SAARC  AFG  999.0     999      1    1  2018      14         1
 ...              ...  ...    ...     ...    ...  ...   ...     ...       ...
 1072255          SSA  ZWE  999.0     999      1  999  2018      14         1
 1072256          SSA  ZWE  999.0     999    999    1  2018      14         1
 1072257          SSA  ZWE  999.0     999    999    2  2018      14         1
 1072258          SSA  ZWE  999.0     999    999    3  2018      14         1
 1072259          SSA  ZWE  999.0     999    999  999  2018      14         1

                 v14_type_desc     median
 5784     1: Foods & Beverages   8.136481
 5785     1: Foods & Beverages  13.323884
 5786     1: Foods & Beverages  25.874451
 5787     1: Foods & Beverages   9.784510
 5788     1: Foods & Beverages   9.446512
 ...                       ...        ...

In [35]:
df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
                                            how='inner'), content)

/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],

/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],
/var/folders/pd/f6sljmhd0bq0nv1y1zl87gdw0000gn/T/ipykernel_98540/2842115427.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'varnum_x', 'median_x'} in the result is deprecated and will raise a MergeError in a future version.
  df_merged = reduce(lambda  left,right: pd.merge(left,right,on=['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year'],

In [38]:
df_merged.to_csv("/Users/irina/Downloads/nutrition.csv")

In [37]:
df_merged.columns

Index(['superregion2', 'iso3', 'age', 'female', 'urban', 'edu', 'year',
       'varnum_x', 'v05_type', 'v05_type_desc',
       ...
       'v17_type_desc', 'median_x', 'varnum_y', 'v28_type', 'v28_type_desc',
       'median_y', 'varnum', 'v29_type', 'v29_type_desc', 'median'],
      dtype='object', length=191)

In [50]:
#first file
new_file = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v01_cnty.csv")
new_file = new_file[new_file['year'] == 2018]
new_file = new_file.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v01_type', 'v01_type_desc', 'varnum'], errors='ignore')
new_file = new_file.rename(columns = {'median': 'fruits'}, errors="raise")
new_file

        iso3    age  female  urban  edu  year      fruits
4968     AFG    0.5       0      0    1  2018    8.467415
4969     AFG    0.5       0      0    2  2018   12.226313
4970     AFG    0.5       0      0    3  2018   16.246001
4971     AFG    0.5       0      0  999  2018    9.376535
4972     AFG    0.5       0      1    1  2018   11.554088
...      ...    ...     ...    ...  ...   ...         ...
1072255  ZWE  999.0     999      1  999  2018   96.531649
1072256  ZWE  999.0     999    999    1  2018   64.691141
1072257  ZWE  999.0     999    999    2  2018   84.075382
1072258  ZWE  999.0     999    999    3  2018  114.820538
1072259  ZWE  999.0     999    999  999  2018   83.372898

[153180 rows x 7 columns]

In [53]:
new_file2 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v02_cnty.csv")
new_file2 = new_file2[new_file2['year'] == 2018]
new_file2 = new_file2.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v02_type', 'v02_type_desc', 'varnum'], errors='ignore')
new_file2 = new_file2.rename(columns = {'median': 'non-starchy vegetables'}, errors="raise")
new_file2 = new_file2.merge(new_file, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [55]:
new_file3 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v03_cnty.csv")
new_file3 = new_file3[new_file3['year'] == 2018]
new_file3 = new_file3.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v03_type', 'v03_type_desc', 'varnum'], errors='ignore')
new_file3 = new_file3.rename(columns = {'median': 'potatoes'}, errors="raise")
new_file3 = new_file3.merge(new_file2, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [60]:
new_file4 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v05_cnty.csv")
new_file4 = new_file4[new_file4['year'] == 2018]
new_file4 = new_file4.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v05_type', 'v05_type_desc', 'varnum'], errors='ignore')
new_file4 = new_file4.rename(columns = {'median': 'beans and legumes'}, errors="raise")
new_file4 = new_file4.merge(new_file3, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [68]:
new_file5 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v06_cnty.csv")
new_file5 = new_file5[new_file5['year'] == 2018]
new_file5 = new_file5.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v06_type', 'v06_type_desc', 'varnum'], errors='ignore')
new_file5 = new_file5.rename(columns = {'median': 'nuts and seeds'}, errors="raise")
new_file5 = new_file5.merge(new_file4, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [69]:
new_file5

,iso3,age,female,urban,edu,year,nuts and seeds,beans and legumes,potatoes,non-starchy vegetables,fruits
0,AFG,0.5,0,0,1,2018,5.567154,1.543013,3.859324,3.419693,8.467415
1,AFG,0.5,0,0,2,2018,5.834556,1.796611,3.893707,3.537751,12.226313
2,AFG,0.5,0,0,3,2018,7.820743,2.304875,3.433671,3.996102,16.246001
3,AFG,0.5,0,0,999,2018,6.356661,1.780938,4.030040,3.522067,9.376535
4,AFG,0.5,0,1,1,2018,10.620326,1.464263,3.855074,3.527541,11.554088
...,...,...,...,...,...,...,...,...,...,...,...
153175,ZWE,999.0,999,1,999,2018,4.410048,19.649825,57.401845,138.124881,96.531649
153176,ZWE,999.0,999,999,1,2018,2.340607,16.023400,43.457593,129.133868,64.691141
153177,ZWE,999.0,999,999,2,2018,3.007603,18.813260,45.981225,139.050109,84.075382
153178,ZWE,999.0,999,999,3,2018,4.615301,24.092966,45.810081,165.455230,114.820538
153179,ZWE,999.0,999,999,999,2018,3.126727,18.917248,44.911503,141.235245,83.372898

In [70]:
new_file6 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/C ountry-level estimates/v07_cnty.csv")
new_file6 = new_file6[new_file6['year'] == 2018]
new_file6 = new_file6.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v07_type', 'v07_type_desc', 'varnum'], errors='ignore')
new_file6 = new_file6.rename(columns = {'median': 'Refined grains'}, errors="raise")
new_file6 = new_file6.merge(new_file5, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [73]:
new_file7 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v08_cnty.csv")
new_file7 = new_file7[new_file7['year'] == 2018]
new_file7 = new_file7.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v08_type', 'v08_type_desc', 'varnum'], errors='ignore')
new_file7 = new_file7.rename(columns = {'median': 'Whole grains'}, errors="raise")
new_file7 = new_file7.merge(new_file6, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [75]:
new_file8 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v09_cnty.csv")
new_file8 = new_file8[new_file8['year'] == 2018]
new_file8 = new_file8.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v09_type', 'v09_type_desc', 'varnum'], errors='ignore')
new_file8 = new_file8.rename(columns = {'median': 'Total processed meats'}, errors="raise")
new_file8 = new_file8.merge(new_file7, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [77]:
new_file9 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v10_cnty.csv")
new_file9 = new_file9[new_file9['year'] == 2018]
new_file9 = new_file9.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v10_type', 'v10_type_desc', 'varnum'], errors='ignore')
new_file9 = new_file9.rename(columns = {'median': 'Unprocessed red meats'}, errors="raise")
new_file9 = new_file9.merge(new_file8, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [80]:
new_file10 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v11_cnty.csv")
new_file10 = new_file10[new_file10['year'] == 2018]
new_file10 = new_file10.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v11_type', 'v11_type_desc', 'varnum'], errors='ignore')
new_file10 = new_file10.rename(columns = {'median': 'Total seafoods'}, errors="raise")
new_file10 = new_file10.merge(new_file9, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [83]:
new_file11 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v12_cnty.csv")
new_file11 = new_file11[new_file11['year'] == 2018]
new_file11 = new_file11.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v12_type', 'v12_type_desc', 'varnum'], errors='ignore')
new_file11 = new_file11.rename(columns = {'median': 'Eggs'}, errors="raise")
new_file11 = new_file11.merge(new_file10, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [85]:
new_file12 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v13_cnty.csv")
new_file12 = new_file12[new_file12['year'] == 2018]
new_file12 = new_file12.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v13_type', 'v13_type_desc', 'varnum'], errors='ignore')
new_file12 = new_file12.rename(columns = {'median': 'Cheese'}, errors="raise")
new_file12 = new_file12.merge(new_file11, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [87]:
new_file13 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v14_cnty.csv")
new_file13 = new_file13[new_file13['year'] == 2018]
new_file13 = new_file13.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v14_type', 'v14_type_desc', 'varnum'], errors='ignore')
new_file13 = new_file13.rename(columns = {'median': 'Yoghurt (including fermented milk)'}, errors="raise")
new_file13 = new_file13.merge(new_file12, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [91]:
new_file14 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v15_cnty.csv")
new_file14 = new_file14[new_file14['year'] == 2018]
new_file14 = new_file14.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v15_type', 'v15_type_desc', 'varnum'], errors='ignore')
new_file14 = new_file14.rename(columns = {'median': 'Sugar-sweetened beverages'}, errors="raise")
new_file14 = new_file14.merge(new_file13, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [95]:
new_file15 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v16_cnty.csv")
new_file15 = new_file15[new_file15['year'] == 2018]
new_file15 = new_file15.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v16_type', 'v16_type_desc', 'varnum'], errors='ignore')
new_file15 = new_file15.rename(columns = {'median': 'Fruit juices'}, errors="raise")
new_file15 = new_file15.merge(new_file14, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [98]:
new_file16 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v17_cnty.csv")
new_file16 = new_file16[new_file16['year'] == 2018]
new_file16 = new_file16.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v17_type', 'v17_type_desc', 'varnum'], errors='ignore')
new_file16 = new_file16.rename(columns = {'median': 'Coffee'}, errors="raise")
new_file16 = new_file16.merge(new_file15, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [101]:
new_file17 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v18_cnty.csv")
new_file17 = new_file17[new_file17['year'] == 2018]
new_file17 = new_file17.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v18_type', 'v18_type_desc', 'varnum'], errors='ignore')
new_file17 = new_file17.rename(columns = {'median': 'Tea'}, errors="raise")
new_file17 = new_file17.merge(new_file16, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [104]:
new_file18 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v22_cnty.csv")
new_file18 = new_file18[new_file18['year'] == 2018]
new_file18 = new_file18.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v22_type', 'v22_type_desc', 'varnum'], errors='ignore')
new_file18 = new_file18.rename(columns = {'median': 'Total carbohydrates'}, errors="raise")
new_file18 = new_file18.merge(new_file17, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [106]:
new_file19 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v23_cnty.csv")
new_file19 = new_file19[new_file19['year'] == 2018]
new_file19 = new_file19.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v23_type', 'v23_type_desc', 'varnum'], errors='ignore')
new_file19 = new_file19.rename(columns = {'median': 'Total protein'}, errors="raise")
new_file19 = new_file19.merge(new_file18, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [110]:
new_file20 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v27_cnty.csv")
new_file20 = new_file20[new_file20['year'] == 2018]
new_file20 = new_file20.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v27_type', 'v27_type_desc', 'varnum'], errors='ignore')
new_file20 = new_file20.rename(columns = {'median': 'Saturated fat'}, errors="raise")
new_file20 = new_file20.merge(new_file19, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [113]:
new_file21 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v28_cnty.csv")
new_file21 = new_file21[new_file21['year'] == 2018]
new_file21 = new_file21.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v28_type', 'v28_type_desc', 'varnum'], errors='ignore')
new_file21 = new_file21.rename(columns = {'median': 'Monounsaturated fatty acids'}, errors="raise")
new_file21 = new_file21.merge(new_file20, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [115]:
new_file22 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v29_cnty.csv")
new_file22 = new_file22[new_file22['year'] == 2018]
new_file22 = new_file22.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v29_type', 'v29_type_desc', 'varnum'], errors='ignore')
new_file22 = new_file22.rename(columns = {'median': 'Total omega-6 fat'}, errors="raise")
new_file22 = new_file22.merge(new_file21, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [117]:
new_file23 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v30_cnty.csv")
new_file23 = new_file23[new_file23['year'] == 2018]
new_file23 = new_file23.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v30_type', 'v30_type_desc', 'varnum'], errors='ignore')
new_file23 = new_file23.rename(columns = {'median': 'Seafood omega-3 fat'}, errors="raise")
new_file23 = new_file23.merge(new_file22, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [119]:
new_file24 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v31_cnty.csv")
new_file24 = new_file24[new_file24['year'] == 2018]
new_file24 = new_file24.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v31_type', 'v31_type_desc', 'varnum'], errors='ignore')
new_file24 = new_file24.rename(columns = {'median': 'Plant omega-3 fat'}, errors="raise")
new_file24 = new_file24.merge(new_file23, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [121]:
new_file25 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v33_cnty.csv")
new_file25 = new_file25[new_file25['year'] == 2018]
new_file25 = new_file25.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                         'v33_type', 'v33_type_desc', 'varnum'], errors='ignore')
new_file25 = new_file25.rename(columns = {'median': 'Dietary cholesterol'}, errors="raise")
new_file25 = new_file25.merge(new_file24, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [123]:
new_file26 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v34_cnty.csv")
new_file26 = new_file26[new_file26['year'] == 2018]
new_file26 = new_file26.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                       'v34_type', 'v34_type_desc', 'varnum'], errors='ignore')
new_file26 = new_file26.rename(columns = {'median': 'Dietary fiber'}, errors="raise")
new_file26 = new_file26.merge(new_file25, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [125]:
new_file27 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v35_cnty.csv")
new_file27 = new_file27[new_file27['year'] == 2018]
new_file27 = new_file27.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                       'v35_type', 'v35_type_desc', 'varnum'], errors='ignore')
new_file27 = new_file27.rename(columns = {'median': 'Added sugars'}, errors="raise")
new_file27 = new_file27.merge(new_file26, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [127]:
new_file28 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v36_cnty.csv")
new_file28 = new_file28[new_file28['year'] == 2018]
new_file28 = new_file28.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                       'v36_type', 'v36_type_desc', 'varnum'], errors='ignore')
new_file28 = new_file28.rename(columns = {'median': 'Calcium'}, errors="raise")
new_file28 = new_file28.merge(new_file27, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [129]:
new_file29 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v37_cnty.csv")
new_file29 = new_file29[new_file29['year'] == 2018]
new_file29 = new_file29.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                       'v37_type', 'v37_type_desc', 'varnum'], errors='ignore')
new_file29 = new_file29.rename(columns = {'median': 'Dietary Sodium'}, errors="raise")
new_file29 = new_file29.merge(new_file28, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [130]:
new_file30 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v38_cnty.csv")
new_file30 = new_file30[new_file30['year'] == 2018]
new_file30 = new_file30.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                       'v38_type', 'v38_type_desc', 'varnum'], errors='ignore')
new_file30 = new_file30.rename(columns = {'median': 'Iodine'}, errors="raise")
new_file30 = new_file30.merge(new_file29, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [132]:
new_file31 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v39_cnty.csv")
new_file31 = new_file31[new_file31['year'] == 2018]
new_file31 = new_file31.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                       'v39_type', 'v39_type_desc', 'varnum'], errors='ignore')
new_file31 = new_file31.rename(columns = {'median': 'Iron'}, errors="raise")
new_file31 = new_file31.merge(new_file30, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [133]:
new_file32 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v40_cnty.csv")
new_file32 = new_file32[new_file32['year'] == 2018]
new_file32 = new_file32.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                       'v40_type', 'v40_type_desc', 'varnum'], errors='ignore')
new_file32 = new_file32.rename(columns = {'median': 'Magnesium'}, errors="raise")
new_file32 = new_file32.merge(new_file31, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [136]:
new_file33 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v41_cnty.csv")
new_file33 = new_file33[new_file33['year'] == 2018]
new_file33 = new_file33.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                       'v41_type', 'v41_type_desc', 'varnum'], errors='ignore')
new_file33 = new_file33.rename(columns = {'median': 'Potassium'}, errors="raise")
new_file33 = new_file33.merge(new_file32, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [138]:
new_file34 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v42_cnty.csv")
new_file34 = new_file34[new_file34['year'] == 2018]
new_file34 = new_file34.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                       'v42_type', 'v42_type_desc', 'varnum'], errors='ignore')
new_file34 = new_file34.rename(columns = {'median': 'Selenium'}, errors="raise")
new_file34 = new_file34.merge(new_file33, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [140]:
new_file35 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v43_cnty.csv")
new_file35 = new_file35[new_file35['year'] == 2018]
new_file35 = new_file35.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                     'v43_type', 'v43_type_desc', 'varnum'], errors='ignore')
new_file35 = new_file35.rename(columns = {'median': 'Vitamin A'}, errors="raise")
new_file35 = new_file35.merge(new_file34, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [143]:
new_file36 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v48_cnty.csv")
new_file36 = new_file36[new_file36['year'] == 2018]
new_file36 = new_file36.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                     'v48_type', 'v48_type_desc', 'varnum'], errors='ignore')
new_file36 = new_file36.rename(columns = {'median': 'Vitamin B6'}, errors="raise")
new_file36 = new_file36.merge(new_file35, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [144]:
new_file37 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v50_cnty.csv")
new_file37 = new_file37[new_file37['year'] == 2018]
new_file37 = new_file37.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                     'v50_type', 'v50_type_desc', 'varnum'], errors='ignore')
new_file37 = new_file37.rename(columns = {'median': 'Vitamin B12'}, errors="raise")
new_file37 = new_file37.merge(new_file36, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [146]:
new_file38 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v51_cnty.csv")
new_file38 = new_file38[new_file38['year'] == 2018]
new_file38 = new_file38.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                     'v51_type', 'v51_type_desc', 'varnum'], errors='ignore')
new_file38 = new_file38.rename(columns = {'median': 'Vitamin C'}, errors="raise")
new_file38 = new_file38.merge(new_file37, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [147]:
new_file39 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v52_cnty.csv")
new_file39 = new_file39[new_file39['year'] == 2018]
new_file39 = new_file39.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                     'v52_type', 'v52_type_desc', 'varnum'], errors='ignore')
new_file39 = new_file39.rename(columns = {'median': 'Vitamin D'}, errors="raise")
new_file39 = new_file39.merge(new_file38, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [148]:
new_file40 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v53_cnty.csv")
new_file40 = new_file40[new_file40['year'] == 2018]
new_file40 = new_file40.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                     'v53_type', 'v53_type_desc', 'varnum'], errors='ignore')
new_file40 = new_file40.rename(columns = {'median': 'Vitamin E'}, errors="raise")
new_file40 = new_file40.merge(new_file39, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [149]:
new_file41 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v54_cnty.csv")
new_file41 = new_file41[new_file41['year'] == 2018]
new_file41 = new_file41.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                   'v54_type', 'v54_type_desc', 'varnum'], errors='ignore')
new_file41 = new_file41.rename(columns = {'median': 'Zinc'}, errors="raise")
new_file41 = new_file41.merge(new_file40, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [150]:
new_file42 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v57_cnty.csv")
new_file42 = new_file42[new_file42['year'] == 2018]
new_file42 = new_file42.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                   'v57_type', 'v57_type_desc', 'varnum'], errors='ignore')
new_file42 = new_file42.rename(columns = {'median': 'Total Milk'}, errors="raise")
new_file42 = new_file42.merge(new_file41, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [152]:
new_file43 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v46_cnty.csv")
new_file43 = new_file43[new_file43['year'] == 2018]
new_file43 = new_file43.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                   'v46_type', 'v46_type_desc', 'varnum'], errors='ignore')
new_file43 = new_file43.rename(columns = {'median': 'Vitamin B2'}, errors="raise")
new_file43 = new_file43.merge(new_file42, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [154]:
new_file44 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v47_cnty.csv")
new_file44 = new_file44[new_file44['year'] == 2018]
new_file44 = new_file44.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                   'v47_type', 'v47_type_desc', 'varnum'], errors='ignore')
new_file44 = new_file44.rename(columns = {'median': 'Vitamin B3'}, errors="raise")
new_file44 = new_file44.merge(new_file43, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [155]:
new_file45 = pd.read_csv("/Users/irina/Downloads/GDD_FinalEstimates_01102022/Country-level estimates/v48_cnty.csv")
new_file45 = new_file45[new_file45['year'] == 2018]
new_file45 = new_file45.drop(columns = ['superregion2', 'upperci_95', 'lowerci_95', 'serving', 's_lowerci_95', 's_upperci_95',
                   'v48_type', 'v48_type_desc', 'varnum'], errors='ignore')
new_file45 = new_file45.rename(columns = {'median': 'Vitamin B9'}, errors="raise")
new_file45 = new_file45.merge(new_file44, on = ['iso3', 'age', 'female', 'urban', 'edu', 'year'])

In [157]:
new_file45.to_csv("/Users/irina/Downloads/nutrition_by_country.csv")