In [3]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
import os
import plotly.express as px
from scipy import stats
import datetime

In [7]:
df = pd.read_csv("https://github.com/5htplife/firstproject/raw/master/Food_Supply_kcal_Data.csv")

In [8]:
df.count()

Country                         170
Alcoholic Beverages             170
Animal Products                 170
Animal fats                     170
Aquatic Products, Other         170
Cereals - Excluding Beer        170
Eggs                            170
Fish, Seafood                   170
Fruits - Excluding Wine         170
Meat                            170
Milk - Excluding Butter         170
Miscellaneous                   170
Offals                          170
Oilcrops                        170
Pulses                          170
Spices                          170
Starchy Roots                   170
Stimulants                      170
Sugar Crops                     170
Sugar & Sweeteners              170
Treenuts                        170
Vegetal Products                170
Vegetable Oils                  170
Vegetables                      170
Obesity                         167
Undernourished                  163
Confirmed                       164
Deaths                          164
Recovered                       164
Active                          162
Population                      170
Unit (all except Population)    170
dtype: int64

In [13]:
df['Confirmed'] = df['Confirmed'].astype(float)

In [21]:
confirmed = df[['Country', 'Confirmed']]

In [25]:
confirmed.sort_values(by = 'Confirmed', ascending = False)[:10]

                      Country  Confirmed
102                Montenegro  10.408199
38                    Czechia   9.612841
138                  Slovenia   8.235901
161  United States of America   8.159922
91                 Luxembourg   8.150633
118                    Panama   7.622321
73                     Israel   7.439052
123                  Portugal   7.429605
55                    Georgia   7.042261
90                  Lithuania   6.667072

In [33]:
mortality_data

                                        <!DOCTYPE html>
0     <html lang="en" data-color-mode="auto" data-li...
1                                                <head>
2                                <meta charset="utf-8">
3       <link rel="dns-prefetch" href="https://githu...
4       <link rel="dns-prefetch" href="https://avata...
...                                                 ...
2768                                        </template>
2769                                             </div>
2770      <div id="js-global-screen-reader-notice" c...
2771                                            </body>
2772                                            </html>

[2773 rows x 1 columns]